/.gradle/
/bin/
/gradle.properties
/build/
/tmpfortest0.database.data
/tmpfortest0.database.lobs
/tmpfortest0.database.log
/tmpfortest0.database.properties
/tmpfortest0.database.script
/tmpfortest4.database.data
/tmpfortest4.database.lobs
/tmpfortest4.database.log
/tmpfortest4.database.properties
/tmpfortest4.database.script
/tmpfortest.database.data
/tmpfortest.database.log
/tmpfortest.database.properties
/tmpfortest.database.script
/dbasker.database.data
/dbasker.database.lck
/dbasker.database.log
/dbasker.database.properties
/dbasker.database.script
/dbreceiver.database.data
/dbreceiver.database.lck
/dbreceiver.database.log
/dbreceiver.database.properties
/dbreceiver.database.script
/testaccessasker.database.data
/testaccessasker.database.lobs
/testaccessasker.database.properties
/testaccessasker.database.script
/testaccessreceiver.database.data
/testaccessreceiver.database.lobs
/testaccessreceiver.database.log
/testaccessreceiver.database.properties
/testaccessreceiver.database.script
/mkledbtest.properties
/mkledbtest.script
/test-output/
/tmpfortest0.database.lck
/test/
/tmpfortest4.database.lck
/logs/
